<a href="https://colab.research.google.com/github/srinugsr2020/my_datascience/blob/master/Diabetes_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Read Diabeter dataset

In [4]:
dataset = pd.read_csv('/content/diabetes.csv')
dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
dataset.shape

(768, 9)

In [6]:
dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [7]:
dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [8]:
dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [9]:
X = dataset.drop(columns='Outcome',axis=1)
Y = dataset['Outcome']

In [10]:
X.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [11]:
#Standardize input data
X_train, X_validation, Y_train, Y_validation = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=1)
scaler = StandardScaler().fit(X_train)
rescaledX = scaler.transform(X_train)
print(rescaledX)

[[-0.25302694 -0.01516334 -0.95561585 ...  0.49683153 -1.04770342
  -0.70029649]
 [ 1.21817138  1.72065328  1.12117522 ...  0.19929305 -0.0250328
   2.13474996]
 [-0.84150628 -0.29920606  0.57465126 ...  0.34159406 -0.77699649
  -0.78620699]
 ...
 [-0.54726661  1.12100754  0.24673688 ...  0.93667102 -1.02664843
  -0.270744  ]
 [-1.13574594  0.20575878 -0.0811775  ... -0.21467353  2.754225
  -0.70029649]
 [-0.84150628  1.84689449 -3.79754046 ...  1.44119278 -0.58148593
   0.67427148]]

In [12]:
print(Y_train.value_counts())

0    400
1    214
Name: Outcome, dtype: int64

In [13]:
classifier = svm.SVC(kernel='linear')
classifier.fit(X_train,Y_train)

X_train_predictions = classifier.predict(X_train)
X_train_accuracy = accuracy_score(X_train_predictions,Y_train)
print(X_train_accuracy)

0.7736156351791531

In [14]:
X_test_predictions = classifier.predict(X_validation)
X_test_accuracy = accuracy_score(X_test_predictions,Y_validation)
print(X_test_accuracy)

0.7792207792207793

In [15]:
input_data = (8,183,64,0,0,23.3,0.672,32)
input_data_as_numpy = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy.reshape(1,-1)
print(input_data_reshaped)
prediction = classifier.predict(input_data_reshaped)
print(prediction)

[[  8.    183.     64.      0.      0.     23.3     0.672  32.   ]]
[1]

Second approach with multiple models comparison

In [16]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from matplotlib import pyplot

#Data report
from pandas_profiling import ProfileReport

#Splitting+Scaling
from sklearn.model_selection import train_test_split, KFold, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler

#Classifiers
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.tree import DecisionTreeClassifier

#Accuracy score + model selection
from sklearn import model_selection
from sklearn.metrics import accuracy_score,r2_score,mean_squared_error,classification_report,confusion_matrix
from sklearn.model_selection import GridSearchCV,cross_val_score

#Neural Networks
import tensorflow as tf
from tensorflow.keras.callbacks import EarlyStopping

#Paramater Hypertuning
from hyperopt import hp, fmin, tpe, Trials,space_eval
from hyperopt.pyll.base import scope

#Warnings
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import warnings
warnings.filterwarnings('ignore')

In [17]:
df=pd.read_csv("/content/diabetes_1.csv") #reading data
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [19]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [20]:
#replace 0 with NaN
df['SkinThickness'].replace(0, np.nan,inplace=True)
df['BloodPressure'].replace(0, np.nan,inplace=True)
df['Insulin'].replace(0, np.nan,inplace=True)
df['Glucose'].replace(0, np.nan,inplace=True)
df['BMI'].replace(0, np.nan,inplace=True)

In [21]:
for col in df.columns: #fill misssing vlaues according to outcome
    df.loc[(df["Outcome"]==0) & (df[col].isnull()),col] = df[df["Outcome"]==0][col].median()
    df.loc[(df["Outcome"]==1) & (df[col].isnull()),col] = df[df["Outcome"]==1][col].median()

In [22]:
#change numeric data to categorical
df['Glucose'] = pd.cut(x=df['Glucose'], bins=[0,139,200,1000],labels = [1,2,3]) 
df['BMI'] = pd.cut(x=df['BMI'], bins=[0,18.5,24.9,29.9,100],labels = [1,2,3,4])
df['BloodPressure'] = pd.cut(x=df['BloodPressure'], bins=[0,79,89,119,500],labels = [1,2,3,4])
print(df.head())

   Pregnancies Glucose BloodPressure  ...  DiabetesPedigreeFunction  Age Outcome
0            6       2             1  ...                     0.627   50       1
1            1       1             1  ...                     0.351   31       0
2            8       2             1  ...                     0.672   32       1
3            1       1             1  ...                     0.167   21       0
4            0       1             1  ...                     2.288   33       1

[5 rows x 9 columns]

In [23]:
X=df.drop("Outcome",axis=1) #dropping target value
y=df[["Outcome"]] #keeping target value

X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.25,stratify = Y, random_state=2) #splitting data

scaler=StandardScaler() #scale data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [24]:
# test options
num_folds = 10
seed = 7
scoring = 'accuracy'

In [25]:
# spot check some algorithms

models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
models.append(("xgb_classifier" , XGBClassifier()))
models.append(("lgbm_classifier" ,LGBMClassifier()))

In [26]:
results = []
names = []

for name, model in models:
  kfold = KFold(n_splits=num_folds, random_state=seed)
  cv_results = cross_val_score(model, X_train, Y_train, cv= kfold, scoring= scoring)
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
  print(msg)

LR: 0.777707 (0.050736)
LDA: 0.769026 (0.049733)
KNN: 0.777616 (0.045064)
CART: 0.838475 (0.041888)
NB: 0.758651 (0.068461)
SVM: 0.842045 (0.048929)
xgb_classifier: 0.857653 (0.031720)
lgbm_classifier: 0.849032 (0.032454)

In [27]:
# compare algorithms
fig = pyplot.figure()
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
pyplot.boxplot(results)
ax.set_xticklabels(names)
fig.set_size_inches(8,6)
pyplot.show()

In [28]:
# SVM algorithm tuning
scaler = StandardScaler().fit(X_train)
rescaledX = scaler.transform(X_train)
c_values = [0.1, 0.3, 0.5, 0.7, 0.9, 1.0, 1.3, 1.5, 1.7, 2.0]
kernel_values = ['linear', 'poly', 'rbf', 'sigmoid']
param_grid = dict(C=c_values, kernel=kernel_values)
model = SVC()
kfold = KFold(n_splits=num_folds, random_state=seed)
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring=scoring, cv=kfold)
grid_result = grid.fit(rescaledX, Y_train)

In [29]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
ranks = grid_result.cv_results_['rank_test_score']
for mean, stdev, param, rank in zip(means, stds, params, ranks):
    print("#%d %f (%f) with: %r" % (rank, mean, stdev, param))

Best: 0.842045 using {'C': 1.0, 'kernel': 'rbf'}
#30 0.751633 (0.047649) with: {'C': 0.1, 'kernel': 'linear'}
#40 0.694555 (0.052155) with: {'C': 0.1, 'kernel': 'poly'}
#18 0.755233 (0.038121) with: {'C': 0.1, 'kernel': 'rbf'}
#31 0.751573 (0.036601) with: {'C': 0.1, 'kernel': 'sigmoid'}
#27 0.753388 (0.045474) with: {'C': 0.3, 'kernel': 'linear'}
#34 0.744858 (0.062725) with: {'C': 0.3, 'kernel': 'poly'}
#9 0.793376 (0.042718) with: {'C': 0.3, 'kernel': 'rbf'}
#12 0.772505 (0.050677) with: {'C': 0.3, 'kernel': 'sigmoid'}
#29 0.751664 (0.046217) with: {'C': 0.5, 'kernel': 'linear'}
#16 0.758560 (0.052736) with: {'C': 0.5, 'kernel': 'poly'}
#8 0.816062 (0.046413) with: {'C': 0.5, 'kernel': 'rbf'}
#28 0.751694 (0.043560) with: {'C': 0.5, 'kernel': 'sigmoid'}
#22 0.753418 (0.046618) with: {'C': 0.7, 'kernel': 'linear'}
#15 0.760405 (0.053027) with: {'C': 0.7, 'kernel': 'poly'}
#5 0.833424 (0.051517) with: {'C': 0.7, 'kernel': 'rbf'}
#32 0.746582 (0.061856) with: {'C': 0.7, 'kernel': 'sigmoid'}
#22 0.753418 (0.046618) with: {'C': 0.9, 'kernel': 'linear'}
#17 0.756927 (0.053041) with: {'C': 0.9, 'kernel': 'poly'}
#2 0.840321 (0.048495) with: {'C': 0.9, 'kernel': 'rbf'}
#33 0.746521 (0.052965) with: {'C': 0.9, 'kernel': 'sigmoid'}
#22 0.753418 (0.046618) with: {'C': 1.0, 'kernel': 'linear'}
#21 0.753479 (0.052252) with: {'C': 1.0, 'kernel': 'poly'}
#1 0.842045 (0.048929) with: {'C': 1.0, 'kernel': 'rbf'}
#35 0.744616 (0.066863) with: {'C': 1.0, 'kernel': 'sigmoid'}
#19 0.755172 (0.044251) with: {'C': 1.3, 'kernel': 'linear'}
#14 0.762099 (0.053750) with: {'C': 1.3, 'kernel': 'poly'}
#3 0.836872 (0.042643) with: {'C': 1.3, 'kernel': 'rbf'}
#36 0.732668 (0.063328) with: {'C': 1.3, 'kernel': 'sigmoid'}
#22 0.753418 (0.046618) with: {'C': 1.5, 'kernel': 'linear'}
#13 0.767362 (0.053018) with: {'C': 1.5, 'kernel': 'poly'}
#4 0.835178 (0.038702) with: {'C': 1.5, 'kernel': 'rbf'}
#38 0.711766 (0.052450) with: {'C': 1.5, 'kernel': 'sigmoid'}
#19 0.755172 (0.044251) with: {'C': 1.7, 'kernel': 'linear'}
#10 0.772565 (0.047257) with: {'C': 1.7, 'kernel': 'poly'}
#6 0.829946 (0.036748) with: {'C': 1.7, 'kernel': 'rbf'}
#37 0.718784 (0.039136) with: {'C': 1.7, 'kernel': 'sigmoid'}
#22 0.753418 (0.046618) with: {'C': 2.0, 'kernel': 'linear'}
#11 0.772535 (0.048035) with: {'C': 2.0, 'kernel': 'poly'}
#6 0.829946 (0.036748) with: {'C': 2.0, 'kernel': 'rbf'}
#39 0.708288 (0.055485) with: {'C': 2.0, 'kernel': 'sigmoid'}

In [30]:
def hyperopt_xgb_score(params):
    clf = XGBClassifier(verbosity = 0,**params)
    current_score = cross_val_score(clf, X_train,Y_train, cv=10).mean()
    print(current_score, params)
    return current_score 

space_xgb = {
            'learning_rate': hp.quniform('learning_rate', 0.2,0.5,0.05),
            'n_estimators': hp.choice('n_estimators', range(50, 400)),
            'eta': hp.quniform('eta', 0.025, 0.5, 0.001),
            'max_depth':  hp.choice('max_depth', np.arange(2, 5, dtype=int)),
            'min_child_weight': hp.quniform('min_child_weight', 1, 9, 0.025),
            'subsample': hp.quniform('subsample', 0.5, 1, 0.005),
            'gamma': hp.quniform('gamma', 0.5, 1, 0.005),
            'colsample_bytree': hp.quniform('colsample_bytree', 0.5, 1, 0.005),
            'eval_metric': 'auc',
            'objective': 'binary:logistic',
            'booster': 'gbtree',
            'tree_method': 'exact',
            'silent': 1,
            
        }
 
best = fmin(fn=hyperopt_xgb_score, space=space_xgb, algo=tpe.suggest, max_evals=50)
print('best:')
print(best)

0.8575015124016938
{'booster': 'gbtree', 'colsample_bytree': 0.9400000000000001, 'eta': 0.137, 'eval_metric': 'auc', 'gamma': 0.875, 'learning_rate': 0.4, 'max_depth': 3, 'min_child_weight': 1.5, 'n_estimators': 126, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.755, 'tree_method': 'exact'}
0.8559891107078041
{'booster': 'gbtree', 'colsample_bytree': 0.62, 'eta': 0.352, 'eval_metric': 'auc', 'gamma': 0.505, 'learning_rate': 0.30000000000000004, 'max_depth': 3, 'min_child_weight': 6.7, 'n_estimators': 67, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.855, 'tree_method': 'exact'}
0.854204476709014
{'booster': 'gbtree', 'colsample_bytree': 0.88, 'eta': 0.117, 'eval_metric': 'auc', 'gamma': 0.915, 'learning_rate': 0.5, 'max_depth': 3, 'min_child_weight': 3.9000000000000004, 'n_estimators': 77, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.9, 'tree_method': 'exact'}
0.8577132486388385
{'booster': 'gbtree', 'colsample_bytree': 0.705, 'eta': 0.426, 'eval_metric': 'auc', 'gamma': 0.765, 'learning_rate': 0.25, 'max_depth': 2, 'min_child_weight': 7.175000000000001, 'n_estimators': 369, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.8, 'tree_method': 'exact'}
0.8489110707803992
{'booster': 'gbtree', 'colsample_bytree': 0.855, 'eta': 0.065, 'eval_metric': 'auc', 'gamma': 0.98, 'learning_rate': 0.5, 'max_depth': 2, 'min_child_weight': 7.2, 'n_estimators': 226, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.71, 'tree_method': 'exact'}
0.8525105868118572
{'booster': 'gbtree', 'colsample_bytree': 0.525, 'eta': 0.37, 'eval_metric': 'auc', 'gamma': 0.745, 'learning_rate': 0.4, 'max_depth': 4, 'min_child_weight': 7.125, 'n_estimators': 179, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.9500000000000001, 'tree_method': 'exact'}
0.862885662431942
{'booster': 'gbtree', 'colsample_bytree': 0.54, 'eta': 0.376, 'eval_metric': 'auc', 'gamma': 0.65, 'learning_rate': 0.2, 'max_depth': 2, 'min_child_weight': 8.525, 'n_estimators': 282, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.855, 'tree_method': 'exact'}
0.8506654567453115
{'booster': 'gbtree', 'colsample_bytree': 0.895, 'eta': 0.189, 'eval_metric': 'auc', 'gamma': 0.52, 'learning_rate': 0.35000000000000003, 'max_depth': 3, 'min_child_weight': 3.475, 'n_estimators': 111, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.775, 'tree_method': 'exact'}
0.8559588626739261
{'booster': 'gbtree', 'colsample_bytree': 0.785, 'eta': 0.491, 'eval_metric': 'auc', 'gamma': 0.92, 'learning_rate': 0.30000000000000004, 'max_depth': 4, 'min_child_weight': 5.550000000000001, 'n_estimators': 151, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.715, 'tree_method': 'exact'}
0.8489715668481548
{'booster': 'gbtree', 'colsample_bytree': 0.775, 'eta': 0.45, 'eval_metric': 'auc', 'gamma': 0.66, 'learning_rate': 0.35000000000000003, 'max_depth': 4, 'min_child_weight': 5.15, 'n_estimators': 292, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.9500000000000001, 'tree_method': 'exact'}
0.8419540229885059
{'booster': 'gbtree', 'colsample_bytree': 0.615, 'eta': 0.34900000000000003, 'eval_metric': 'auc', 'gamma': 0.63, 'learning_rate': 0.35000000000000003, 'max_depth': 2, 'min_child_weight': 4.125, 'n_estimators': 253, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.73, 'tree_method': 'exact'}
0.8522988505747126
{'booster': 'gbtree', 'colsample_bytree': 0.985, 'eta': 0.333, 'eval_metric': 'auc', 'gamma': 0.72, 'learning_rate': 0.25, 'max_depth': 4, 'min_child_weight': 5.8500000000000005, 'n_estimators': 335, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.505, 'tree_method': 'exact'}
0.8559286146400483
{'booster': 'gbtree', 'colsample_bytree': 0.96, 'eta': 0.221, 'eval_metric': 'auc', 'gamma': 0.9450000000000001, 'learning_rate': 0.4, 'max_depth': 4, 'min_child_weight': 4.625, 'n_estimators': 385, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.97, 'tree_method': 'exact'}
0.8524500907441016
{'booster': 'gbtree', 'colsample_bytree': 0.885, 'eta': 0.028, 'eval_metric': 'auc', 'gamma': 0.54, 'learning_rate': 0.35000000000000003, 'max_depth': 2, 'min_child_weight': 4.7250000000000005, 'n_estimators': 168, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.895, 'tree_method': 'exact'}
0.8593163944343617
{'booster': 'gbtree', 'colsample_bytree': 0.9500000000000001, 'eta': 0.05, 'eval_metric': 'auc', 'gamma': 0.8, 'learning_rate': 0.30000000000000004, 'max_depth': 4, 'min_child_weight': 6.675000000000001, 'n_estimators': 283, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.8300000000000001, 'tree_method': 'exact'}
0.8541742286751361
{'booster': 'gbtree', 'colsample_bytree': 0.8, 'eta': 0.325, 'eval_metric': 'auc', 'gamma': 0.5650000000000001, 'learning_rate': 0.25, 'max_depth': 3, 'min_child_weight': 5.25, 'n_estimators': 299, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.775, 'tree_method': 'exact'}
0.8524803387779795
{'booster': 'gbtree', 'colsample_bytree': 0.5650000000000001, 'eta': 0.309, 'eval_metric': 'auc', 'gamma': 0.805, 'learning_rate': 0.35000000000000003, 'max_depth': 4, 'min_child_weight': 4.275, 'n_estimators': 147, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.91, 'tree_method': 'exact'}
0.8437689050211736
{'booster': 'gbtree', 'colsample_bytree': 0.795, 'eta': 0.315, 'eval_metric': 'auc', 'gamma': 0.53, 'learning_rate': 0.4, 'max_depth': 2, 'min_child_weight': 1.7000000000000002, 'n_estimators': 153, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.545, 'tree_method': 'exact'}
0.8470961887477314
{'booster': 'gbtree', 'colsample_bytree': 0.7000000000000001, 'eta': 0.248, 'eval_metric': 'auc', 'gamma': 0.7000000000000001, 'learning_rate': 0.30000000000000004, 'max_depth': 2, 'min_child_weight': 1.2000000000000002, 'n_estimators': 284, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.85, 'tree_method': 'exact'}
0.8471869328493649
{'booster': 'gbtree', 'colsample_bytree': 0.8300000000000001, 'eta': 0.07100000000000001, 'eval_metric': 'auc', 'gamma': 0.52, 'learning_rate': 0.25, 'max_depth': 2, 'min_child_weight': 5.775, 'n_estimators': 329, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.81, 'tree_method': 'exact'}
0.8366303690260134
{'booster': 'gbtree', 'colsample_bytree': 0.63, 'eta': 0.279, 'eval_metric': 'auc', 'gamma': 0.595, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 2.75, 'n_estimators': 131, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.595, 'tree_method': 'exact'}
0.8540229885057471
{'booster': 'gbtree', 'colsample_bytree': 0.63, 'eta': 0.28400000000000003, 'eval_metric': 'auc', 'gamma': 0.6, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 2.7, 'n_estimators': 61, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.63, 'tree_method': 'exact'}
0.8297640653357533
{'booster': 'gbtree', 'colsample_bytree': 0.605, 'eta': 0.41200000000000003, 'eval_metric': 'auc', 'gamma': 0.615, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 2.5500000000000003, 'n_estimators': 359, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.62, 'tree_method': 'exact'}
0.8470054446460982
{'booster': 'gbtree', 'colsample_bytree': 0.685, 'eta': 0.458, 'eval_metric': 'auc', 'gamma': 0.6, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 2.4250000000000003, 'n_estimators': 392, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.61, 'tree_method': 'exact'}
0.8384452510586812
{'booster': 'gbtree', 'colsample_bytree': 0.58, 'eta': 0.184, 'eval_metric': 'auc', 'gamma': 0.58, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 2.75, 'n_estimators': 366, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.65, 'tree_method': 'exact'}
0.8332123411978222
{'booster': 'gbtree', 'colsample_bytree': 0.66, 'eta': 0.405, 'eval_metric': 'auc', 'gamma': 0.68, 'learning_rate': 0.5, 'max_depth': 2, 'min_child_weight': 2.075, 'n_estimators': 313, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.5750000000000001, 'tree_method': 'exact'}
0.83502722323049
{'booster': 'gbtree', 'colsample_bytree': 0.735, 'eta': 0.40700000000000003, 'eval_metric': 'auc', 'gamma': 0.7000000000000001, 'learning_rate': 0.5, 'max_depth': 2, 'min_child_weight': 2.1, 'n_estimators': 321, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.675, 'tree_method': 'exact'}
0.8366908650937688
{'booster': 'gbtree', 'colsample_bytree': 0.67, 'eta': 0.492, 'eval_metric': 'auc', 'gamma': 0.67, 'learning_rate': 0.5, 'max_depth': 2, 'min_child_weight': 3.35, 'n_estimators': 359, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.5650000000000001, 'tree_method': 'exact'}
0.8419842710223836
{'booster': 'gbtree', 'colsample_bytree': 0.51, 'eta': 0.399, 'eval_metric': 'auc', 'gamma': 0.86, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 1.075, 'n_estimators': 313, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.515, 'tree_method': 'exact'}
0.8454022988505748
{'booster': 'gbtree', 'colsample_bytree': 0.735, 'eta': 0.457, 'eval_metric': 'auc', 'gamma': 0.63, 'learning_rate': 0.4, 'max_depth': 3, 'min_child_weight': 1.7000000000000002, 'n_estimators': 265, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.68, 'tree_method': 'exact'}
0.8489413188142769
{'booster': 'gbtree', 'colsample_bytree': 0.585, 'eta': 0.495, 'eval_metric': 'auc', 'gamma': 0.81, 'learning_rate': 0.5, 'max_depth': 2, 'min_child_weight': 3.1, 'n_estimators': 393, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.545, 'tree_method': 'exact'}
0.8365093768905021
{'booster': 'gbtree', 'colsample_bytree': 0.66, 'eta': 0.42, 'eval_metric': 'auc', 'gamma': 0.855, 'learning_rate': 0.5, 'max_depth': 3, 'min_child_weight': 1.05, 'n_estimators': 370, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.58, 'tree_method': 'exact'}
0.8542347247428917
{'booster': 'gbtree', 'colsample_bytree': 0.55, 'eta': 0.378, 'eval_metric': 'auc', 'gamma': 0.755, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 3.7750000000000004, 'n_estimators': 76, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.63, 'tree_method': 'exact'}
0.8436781609195402
{'booster': 'gbtree', 'colsample_bytree': 0.595, 'eta': 0.446, 'eval_metric': 'auc', 'gamma': 0.68, 'learning_rate': 0.4, 'max_depth': 3, 'min_child_weight': 2.15, 'n_estimators': 332, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.68, 'tree_method': 'exact'}
0.8489413188142769
{'booster': 'gbtree', 'colsample_bytree': 0.65, 'eta': 0.25, 'eval_metric': 'auc', 'gamma': 0.56, 'learning_rate': 0.5, 'max_depth': 2, 'min_child_weight': 8.625, 'n_estimators': 128, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.535, 'tree_method': 'exact'}
0.8400786448880823
{'booster': 'gbtree', 'colsample_bytree': 0.725, 'eta': 0.109, 'eval_metric': 'auc', 'gamma': 0.73, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 1.425, 'n_estimators': 228, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.65, 'tree_method': 'exact'}
0.8593466424682396
{'booster': 'gbtree', 'colsample_bytree': 0.755, 'eta': 0.386, 'eval_metric': 'auc', 'gamma': 0.63, 'learning_rate': 0.5, 'max_depth': 2, 'min_child_weight': 7.9, 'n_estimators': 338, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.5750000000000001, 'tree_method': 'exact'}
0.8402298850574713
{'booster': 'gbtree', 'colsample_bytree': 0.5, 'eta': 0.355, 'eval_metric': 'auc', 'gamma': 0.6950000000000001, 'learning_rate': 0.4, 'max_depth': 3, 'min_child_weight': 2.025, 'n_estimators': 386, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.5, 'tree_method': 'exact'}
0.8349667271627345
{'booster': 'gbtree', 'colsample_bytree': 0.525, 'eta': 0.47800000000000004, 'eval_metric': 'auc', 'gamma': 0.78, 'learning_rate': 0.5, 'max_depth': 2, 'min_child_weight': 3.1750000000000003, 'n_estimators': 181, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.605, 'tree_method': 'exact'}
0.8401693889897157
{'booster': 'gbtree', 'colsample_bytree': 0.605, 'eta': 0.436, 'eval_metric': 'auc', 'gamma': 0.64, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 3.8000000000000003, 'n_estimators': 171, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.735, 'tree_method': 'exact'}
0.8437084089534179
{'booster': 'gbtree', 'colsample_bytree': 0.6950000000000001, 'eta': 0.18, 'eval_metric': 'auc', 'gamma': 0.505, 'learning_rate': 0.2, 'max_depth': 4, 'min_child_weight': 4.45, 'n_estimators': 154, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.7000000000000001, 'tree_method': 'exact'}
0.8506654567453115
{'booster': 'gbtree', 'colsample_bytree': 0.8300000000000001, 'eta': 0.221, 'eval_metric': 'auc', 'gamma': 0.84, 'learning_rate': 0.5, 'max_depth': 3, 'min_child_weight': 3.625, 'n_estimators': 64, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.76, 'tree_method': 'exact'}
0.8663339382940108
{'booster': 'gbtree', 'colsample_bytree': 0.55, 'eta': 0.358, 'eval_metric': 'auc', 'gamma': 0.985, 'learning_rate': 0.4, 'max_depth': 2, 'min_child_weight': 6.15, 'n_estimators': 201, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.525, 'tree_method': 'exact'}
0.8383242589231699
{'booster': 'gbtree', 'colsample_bytree': 0.64, 'eta': 0.301, 'eval_metric': 'auc', 'gamma': 0.735, 'learning_rate': 0.30000000000000004, 'max_depth': 4, 'min_child_weight': 1.55, 'n_estimators': 303, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.56, 'tree_method': 'exact'}
0.8540834845735027
{'booster': 'gbtree', 'colsample_bytree': 0.915, 'eta': 0.417, 'eval_metric': 'auc', 'gamma': 0.905, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 4.075, 'n_estimators': 102, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.64, 'tree_method': 'exact'}
0.847156684815487
{'booster': 'gbtree', 'colsample_bytree': 0.68, 'eta': 0.467, 'eval_metric': 'auc', 'gamma': 0.615, 'learning_rate': 0.4, 'max_depth': 2, 'min_child_weight': 4.800000000000001, 'n_estimators': 373, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.61, 'tree_method': 'exact'}
0.8385359951603146
{'booster': 'gbtree', 'colsample_bytree': 0.76, 'eta': 0.338, 'eval_metric': 'auc', 'gamma': 0.78, 'learning_rate': 0.35000000000000003, 'max_depth': 4, 'min_child_weight': 2.45, 'n_estimators': 311, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.705, 'tree_method': 'exact'}
0.8419540229885059
{'booster': 'gbtree', 'colsample_bytree': 0.615, 'eta': 0.396, 'eval_metric': 'auc', 'gamma': 0.665, 'learning_rate': 0.5, 'max_depth': 3, 'min_child_weight': 6.4, 'n_estimators': 300, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.785, 'tree_method': 'exact'}
0.8490320629159104
{'booster': 'gbtree', 'colsample_bytree': 0.71, 'eta': 0.14300000000000002, 'eval_metric': 'auc', 'gamma': 0.715, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 5.25, 'n_estimators': 55, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.75, 'tree_method': 'exact'}
0.8506352087114337
{'booster': 'gbtree', 'colsample_bytree': 0.525, 'eta': 0.435, 'eval_metric': 'auc', 'gamma': 0.5700000000000001, 'learning_rate': 0.4, 'max_depth': 4, 'min_child_weight': 7.65, 'n_estimators': 255, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.66, 'tree_method': 'exact'}
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 50/50 [00:38<00:00,  1.31it/s, best loss: 0.8297640653357533]
best:
{'colsample_bytree': 0.605, 'eta': 0.41200000000000003, 'gamma': 0.615, 'learning_rate': 0.45, 'max_depth': 0, 'min_child_weight': 2.5500000000000003, 'n_estimators': 309, 'subsample': 0.62}

In [31]:
params = space_eval(space_xgb, best)
print(params)

{'booster': 'gbtree', 'colsample_bytree': 0.605, 'eta': 0.41200000000000003, 'eval_metric': 'auc', 'gamma': 0.615, 'learning_rate': 0.45, 'max_depth': 2, 'min_child_weight': 2.5500000000000003, 'n_estimators': 359, 'objective': 'binary:logistic', 'silent': 1, 'subsample': 0.62, 'tree_method': 'exact'}

In [32]:
XGB_classifier = XGBClassifier(**params)
XGB_classifier.fit(X_train, Y_train)
print(X_test)
pred = XGB_classifier.predict(X_test)
print(pred)
train_accuracy_xgb = model_selection.cross_validate(estimator=XGB_classifier , X=X_train , y= Y_train , cv = 10)
test_accuracy_xgb = model_selection.cross_validate(estimator=XGB_classifier , X=X_test , y= Y_test , cv = 10)
print("Training accuracy:",train_accuracy_xgb['test_score'].mean()*100) 
print("Testing accuracy:",test_accuracy_xgb['test_score'].mean()*100)

[[-0.25554708 -0.60409346 -0.57503487 ... -0.67682877 -0.74529275
  -0.43860094]
 [-0.83965469 -0.60409346 -0.57503487 ...  0.6862949  -0.36370025
   1.17703309]
 [ 0.03650673  1.65537299 -0.57503487 ...  0.6862949   0.13824065
   2.87770049]
 ...
 [ 0.32856053  1.65537299 -0.57503487 ...  0.6862949  -0.74822808
   2.70763375]
 [-0.54760088 -0.60409346 -0.57503487 ...  0.6862949   0.66072884
  -0.52363431]
 [ 2.37293716 -0.60409346 -0.57503487 ... -0.67682877  1.32998337
   0.92193298]]
[1 1 1 1 0 0 1 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 1 0 1 0 0 0
 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 0
 0 0 0 1 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 1 0 1 0 1
 0 0 0 1 1 1 0 0 0 1 1 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 1
 0 0 0 1 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0
 0 0 0 0 0 1 0]
Training accuracy: 82.97640653357533
Testing accuracy: 84.44736842105263

In [35]:
def hyperopt_lgb_score(params):
    clf = LGBMClassifier(**params)
    current_score = cross_val_score(clf, X_train, Y_train, cv=5).mean()
    print(current_score, params)
    return current_score 
 
space_lgb = {
            'learning_rate': hp.quniform('learning_rate', 0, 0.05, 0.0001),
            'n_estimators': hp.choice('n_estimators', range(100, 1000)),
            'max_depth':  hp.choice('max_depth', np.arange(4, 7, dtype=int)),
            'num_leaves': hp.choice('num_leaves', 2*np.arange(20, 2**6, dtype=int)),
            'min_child_weight': hp.quniform('min_child_weight', 1, 9, 0.025),
            'colsample_bytree': hp.quniform('colsample_bytree', 0.5, 1, 0.005),
            'objective': 'binary',
            'boosting_type': 'gbdt',
            }
 
best = fmin(fn=hyperopt_lgb_score, space=space_lgb, algo=tpe.suggest, max_evals=10)
print('best:')
print(best)

0.8558920539730135
{'boosting_type': 'gbdt', 'colsample_bytree': 0.835, 'learning_rate': 0.0444, 'max_depth': 5, 'min_child_weight': 2.375, 'n_estimators': 392, 'num_leaves': 50, 'objective': 'binary'}
0.8749325337331335
{'boosting_type': 'gbdt', 'colsample_bytree': 0.55, 'learning_rate': 0.0316, 'max_depth': 4, 'min_child_weight': 8.3, 'n_estimators': 519, 'num_leaves': 110, 'objective': 'binary'}
0.8767016491754124
{'boosting_type': 'gbdt', 'colsample_bytree': 0.68, 'learning_rate': 0.0045000000000000005, 'max_depth': 4, 'min_child_weight': 8.75, 'n_estimators': 845, 'num_leaves': 108, 'objective': 'binary'}
0.8819190404797601
{'boosting_type': 'gbdt', 'colsample_bytree': 0.62, 'learning_rate': 0.0108, 'max_depth': 5, 'min_child_weight': 4.0, 'n_estimators': 396, 'num_leaves': 48, 'objective': 'binary'}
0.8506746626686658
{'boosting_type': 'gbdt', 'colsample_bytree': 0.9450000000000001, 'learning_rate': 0.0148, 'max_depth': 5, 'min_child_weight': 3.125, 'n_estimators': 916, 'num_leaves': 58, 'objective': 'binary'}
0.857616191904048
{'boosting_type': 'gbdt', 'colsample_bytree': 0.76, 'learning_rate': 0.015300000000000001, 'max_depth': 4, 'min_child_weight': 2.5, 'n_estimators': 944, 'num_leaves': 100, 'objective': 'binary'}
0.8489505247376312
{'boosting_type': 'gbdt', 'colsample_bytree': 0.8, 'learning_rate': 0.0313, 'max_depth': 4, 'min_child_weight': 1.125, 'n_estimators': 911, 'num_leaves': 54, 'objective': 'binary'}
0.8714842578710644
{'boosting_type': 'gbdt', 'colsample_bytree': 0.835, 'learning_rate': 0.014, 'max_depth': 4, 'min_child_weight': 8.0, 'n_estimators': 275, 'num_leaves': 86, 'objective': 'binary'}
0.8593703148425786
{'boosting_type': 'gbdt', 'colsample_bytree': 0.655, 'learning_rate': 0.0132, 'max_depth': 4, 'min_child_weight': 4.075, 'n_estimators': 902, 'num_leaves': 96, 'objective': 'binary'}
0.873223388305847
{'boosting_type': 'gbdt', 'colsample_bytree': 0.745, 'learning_rate': 0.0188, 'max_depth': 5, 'min_child_weight': 8.125, 'n_estimators': 444, 'num_leaves': 124, 'objective': 'binary'}
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:06<00:00,  1.57it/s, best loss: 0.8489505247376312]
best:
{'colsample_bytree': 0.8, 'learning_rate': 0.0313, 'max_depth': 0, 'min_child_weight': 1.125, 'n_estimators': 811, 'num_leaves': 7}

In [36]:
params = space_eval(space_lgb, best)
params

{'boosting_type': 'gbdt',
 'colsample_bytree': 0.8,
 'learning_rate': 0.0313,
 'max_depth': 4,
 'min_child_weight': 1.125,
 'n_estimators': 911,
 'num_leaves': 54,
 'objective': 'binary'}

In [37]:
LGBM_classifier = LGBMClassifier(**params)
LGBM_classifier.fit(X_train, Y_train)
pred =  LGBM_classifier.predict(X_test)
test_accuracy_lgbm = model_selection.cross_validate(estimator=LGBM_classifier , X=X_test , y= Y_test , cv = 5)
print("Testing accuracy:",test_accuracy_lgbm['test_score'].mean()*100)

Testing accuracy: 83.84615384615385

In [38]:
# ensembles
ensembles = []
# Boosting methods
ensembles.append(('AB', AdaBoostClassifier()))
ensembles.append(('GBM', GradientBoostingClassifier()))
# Bagging methods
ensembles.append(('RF', RandomForestClassifier()))
ensembles.append(('ET', ExtraTreesClassifier()))

In [39]:
results = []
names = []
for name, model in ensembles:
    kfold = KFold(n_splits=num_folds, random_state=seed)
    cv_results = cross_val_score(model, X_train, Y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

AB: 0.857683 (0.028647)
GBM: 0.849062 (0.047527)
RF: 0.871597 (0.025565)
ET: 0.836872 (0.027708)

In [40]:
# compare ensemble algorithms
fig = pyplot.figure()
fig.suptitle('Ensemble Algorithm Comparison')
ax = fig.add_subplot(111)
pyplot.boxplot(results)
ax.set_xticklabels(names)
fig.set_size_inches(8,6)
pyplot.show()

In [41]:
model = RandomForestClassifier()
model.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [42]:
predictions = model.predict(X_test)
print(accuracy_score(Y_test, predictions))
print(confusion_matrix(Y_test, predictions))
print(classification_report(Y_test, predictions))

0.8645833333333334
[[110  15]
 [ 11  56]]
              precision    recall  f1-score   support

           0       0.91      0.88      0.89       125
           1       0.79      0.84      0.81        67

    accuracy                           0.86       192
   macro avg       0.85      0.86      0.85       192
weighted avg       0.87      0.86      0.87       192

In [43]:
#Installation of required libraries
import numpy as np
import pandas as pd 
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, mean_squared_error, r2_score, roc_auc_score, roc_curve, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import KFold
import warnings
warnings.simplefilter(action = "ignore")

In [44]:
df = pd.read_csv("/content/diabetes_1.csv")

In [45]:
# Descriptive statistics of the data set accessed.
df.describe([0.10,0.25,0.50,0.75,0.90,0.95,0.99]).T

                          count        mean  ...        99%     max
Pregnancies               768.0    3.845052  ...   13.00000   17.00
Glucose                   768.0  120.894531  ...  196.00000  199.00
BloodPressure             768.0   69.105469  ...  106.00000  122.00
SkinThickness             768.0   20.536458  ...   51.33000   99.00
Insulin                   768.0   79.799479  ...  519.90000  846.00
BMI                       768.0   31.992578  ...   50.75900   67.10
DiabetesPedigreeFunction  768.0    0.471876  ...    1.69833    2.42
Age                       768.0   33.240885  ...   67.00000   81.00
Outcome                   768.0    0.348958  ...    1.00000    1.00

[9 rows x 12 columns]

In [46]:
# The histagram of the Age variable was reached.
df["Age"].hist(edgecolor = "black");

In [47]:
# Histogram and density graphs of all variables were accessed.
fig, ax = plt.subplots(4,2, figsize=(16,16))
sns.distplot(df.Age, bins = 20, ax=ax[0,0]) 
sns.distplot(df.Pregnancies, bins = 20, ax=ax[0,1]) 
sns.distplot(df.Glucose, bins = 20, ax=ax[1,0]) 
sns.distplot(df.BloodPressure, bins = 20, ax=ax[1,1]) 
sns.distplot(df.SkinThickness, bins = 20, ax=ax[2,0])
sns.distplot(df.Insulin, bins = 20, ax=ax[2,1])
sns.distplot(df.DiabetesPedigreeFunction, bins = 20, ax=ax[3,0]) 
sns.distplot(df.BMI, bins = 20, ax=ax[3,1])

In [48]:
df.groupby("Outcome").agg({"Pregnancies":"mean"})

         Pregnancies
Outcome
0           3.298000
1           4.865672

In [49]:
df.groupby("Outcome").agg({"Age":"mean"})

               Age
Outcome
0        31.190000
1        37.067164

In [50]:
df.groupby("Outcome").agg({"Insulin": "mean"})

            Insulin
Outcome
0         68.792000
1        100.335821

In [51]:
df.groupby("Outcome").agg({"Glucose": "mean"})

            Glucose
Outcome
0        109.980000
1        141.257463

In [52]:
# The distribution of the outcome variable in the data was examined and visualized.
f,ax=plt.subplots(1,2,figsize=(18,8))
df['Outcome'].value_counts().plot.pie(explode=[0,0.1],autopct='%1.1f%%',ax=ax[0],shadow=True)
ax[0].set_title('target')
ax[0].set_ylabel('')
sns.countplot('Outcome',data=df,ax=ax[1])
ax[1].set_title('Outcome')
plt.show()

In [53]:
df.corr()

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [54]:
# Correlation matrix graph of the data set
f, ax = plt.subplots(figsize= [20,15])
sns.heatmap(df.corr(), annot=True, fmt=".2f", ax=ax, cmap = "magma" )
ax.set_title("Correlation Matrix", fontsize=20)
plt.show()

2.1) Missing Observation Analysis
We saw on df.head() that some features contain 0, it doesn't make sense here and this indicates missing value Below we replace 0 value by NaN:

In [55]:
df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] = df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)

In [56]:
# Now, we can look at where are missing values
df.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [57]:
# Have been visualized using the missingno library for the visualization of missing observations.
# Plotting 
import missingno as msno
msno.bar(df);

In [58]:
# The missing values â€‹â€‹will be filled with the median values â€‹â€‹of each variable.
def median_target(var):   
    temp = df[df[var].notnull()]
    temp = temp[[var, 'Outcome']].groupby(['Outcome'])[[var]].median().reset_index()
    return temp

In [59]:
# The values to be given for incomplete observations are given the median value of people who are not sick and the median values of people who are sick.
columns = df.columns
columns = columns.drop("Outcome")
for i in columns:
    median_target(i)
    df.loc[(df['Outcome'] == 0 ) & (df[i].isnull()), i] = median_target(i)[i][0]
    df.loc[(df['Outcome'] == 1 ) & (df[i].isnull()), i] = median_target(i)[i][1]

In [60]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6    148.0           72.0  ...                     0.627   50        1
1            1     85.0           66.0  ...                     0.351   31        0
2            8    183.0           64.0  ...                     0.672   32        1
3            1     89.0           66.0  ...                     0.167   21        0
4            0    137.0           40.0  ...                     2.288   33        1

[5 rows x 9 columns]

In [61]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [62]:
# In the data set, there were asked whether there were any outlier observations compared to the 25% and 75% quarters.
# It was found to be an outlier observation.
for feature in df:
    
    Q1 = df[feature].quantile(0.25)
    Q3 = df[feature].quantile(0.75)
    IQR = Q3-Q1
    lower = Q1- 1.5*IQR
    upper = Q3 + 1.5*IQR
    
    if df[(df[feature] > upper)].any(axis=None):
        print(feature,"yes")
    else:
        print(feature, "no")

Pregnancies yes
Glucose no
BloodPressure yes
SkinThickness yes
Insulin yes
BMI yes
DiabetesPedigreeFunction yes
Age yes
Outcome no

In [63]:
# The process of visualizing the Insulin variable with boxplot method was done. We find the outlier observations on the chart.
import seaborn as sns
sns.boxplot(x = df["Insulin"]);

In [64]:
#We conduct a stand alone observation review for the Insulin variable
#We suppress contradictory values
Q1 = df.Insulin.quantile(0.25)
Q3 = df.Insulin.quantile(0.75)
IQR = Q3-Q1
lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR
df.loc[df["Insulin"] > upper,"Insulin"] = upper

In [65]:
import seaborn as sns
sns.boxplot(x = df["Insulin"]);

In [66]:
# We determine outliers between all variables with the LOF method
from sklearn.neighbors import LocalOutlierFactor
lof =LocalOutlierFactor(n_neighbors= 10)
lof.fit_predict(df)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1])

In [67]:
df_scores = lof.negative_outlier_factor_
np.sort(df_scores)[0:30]

array([-3.05893469, -2.37289269, -2.15297995, -2.09708735, -2.0772561 ,
       -1.95255968, -1.86384019, -1.74003158, -1.72703492, -1.71674689,
       -1.70343883, -1.6688722 , -1.64296768, -1.64190437, -1.61620872,
       -1.61369917, -1.60057603, -1.5988774 , -1.59608032, -1.57027568,
       -1.55876022, -1.55674614, -1.51852389, -1.50843907, -1.50280943,
       -1.50160698, -1.48391514, -1.4752983 , -1.4713427 , -1.47006248])

In [68]:
#We choose the threshold value according to lof scores
threshold = np.sort(df_scores)[7]
threshold

-1.740031580305444

In [69]:
#We delete those that are higher than the threshold
outlier = df_scores > threshold
df = df[outlier]

In [70]:
# The size of the data set was examined.
df.shape

(760, 9)

##3) Feature Engineering
Creating new variables is important for models. But you need to create a logical new variable. For this data set, some new variables were created according to BMI, Insulin and glucose variables.

In [71]:
# According to BMI, some ranges were determined and categorical variables were assigned.
NewBMI = pd.Series(["Underweight", "Normal", "Overweight", "Obesity 1", "Obesity 2", "Obesity 3"], dtype = "category")
df["NewBMI"] = NewBMI
df.loc[df["BMI"] < 18.5, "NewBMI"] = NewBMI[0]
df.loc[(df["BMI"] > 18.5) & (df["BMI"] <= 24.9), "NewBMI"] = NewBMI[1]
df.loc[(df["BMI"] > 24.9) & (df["BMI"] <= 29.9), "NewBMI"] = NewBMI[2]
df.loc[(df["BMI"] > 29.9) & (df["BMI"] <= 34.9), "NewBMI"] = NewBMI[3]
df.loc[(df["BMI"] > 34.9) & (df["BMI"] <= 39.9), "NewBMI"] = NewBMI[4]
df.loc[df["BMI"] > 39.9 ,"NewBMI"] = NewBMI[5]

In [72]:
# A categorical variable creation process is performed according to the insulin value.
def set_insulin(row):
    if row["Insulin"] >= 16 and row["Insulin"] <= 166:
        return "Normal"
    else:
        return "Abnormal"

In [73]:
# The operation performed was added to the dataframe.
df = df.assign(NewInsulinScore=df.apply(set_insulin, axis=1))

df.head()

   Pregnancies  Glucose  BloodPressure  ...  Outcome      NewBMI  NewInsulinScore
0            6    148.0           72.0  ...        1   Obesity 1         Abnormal
1            1     85.0           66.0  ...        0  Overweight           Normal
2            8    183.0           64.0  ...        1      Normal         Abnormal
3            1     89.0           66.0  ...        0  Overweight           Normal
4            0    137.0           40.0  ...        1   Obesity 3         Abnormal

[5 rows x 11 columns]

In [74]:
# Some intervals were determined according to the glucose variable and these were assigned categorical variables.
NewGlucose = pd.Series(["Low", "Normal", "Overweight", "Secret", "High"], dtype = "category")
df["NewGlucose"] = NewGlucose
df.loc[df["Glucose"] <= 70, "NewGlucose"] = NewGlucose[0]
df.loc[(df["Glucose"] > 70) & (df["Glucose"] <= 99), "NewGlucose"] = NewGlucose[1]
df.loc[(df["Glucose"] > 99) & (df["Glucose"] <= 126), "NewGlucose"] = NewGlucose[2]
df.loc[df["Glucose"] > 126 ,"NewGlucose"] = NewGlucose[3]

In [75]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...      NewBMI  NewInsulinScore  NewGlucose
0            6    148.0           72.0  ...   Obesity 1         Abnormal      Secret
1            1     85.0           66.0  ...  Overweight           Normal      Normal
2            8    183.0           64.0  ...      Normal         Abnormal      Secret
3            1     89.0           66.0  ...  Overweight           Normal      Normal
4            0    137.0           40.0  ...   Obesity 3         Abnormal      Secret

[5 rows x 12 columns]

##4) One Hot Encoding
Categorical variables in the data set should be converted into numerical values. For this reason, these transformation processes are performed with Label Encoding and One Hot Encoding method.

In [76]:
# Here, by making One Hot Encoding transformation, categorical variables were converted into numerical values. It is also protected from the Dummy variable trap.
df = pd.get_dummies(df, columns =["NewBMI","NewInsulinScore", "NewGlucose"], drop_first = True)

In [77]:
df.head()

   Pregnancies  Glucose  ...  NewGlucose_Overweight  NewGlucose_Secret
0            6    148.0  ...                      0                  1
1            1     85.0  ...                      0                  0
2            8    183.0  ...                      0                  1
3            1     89.0  ...                      0                  0
4            0    137.0  ...                      0                  1

[5 rows x 19 columns]

In [78]:
categorical_df = df[['NewBMI_Obesity 1','NewBMI_Obesity 2', 'NewBMI_Obesity 3', 'NewBMI_Overweight','NewBMI_Underweight',
                     'NewInsulinScore_Normal','NewGlucose_Low','NewGlucose_Normal', 'NewGlucose_Overweight', 'NewGlucose_Secret']]

In [79]:
categorical_df.head()

   NewBMI_Obesity 1  NewBMI_Obesity 2  ...  NewGlucose_Overweight  NewGlucose_Secret
0                 1                 0  ...                      0                  1
1                 0                 0  ...                      0                  0
2                 0                 0  ...                      0                  1
3                 0                 0  ...                      0                  0
4                 0                 0  ...                      0                  1

[5 rows x 10 columns]

In [80]:
y = df["Outcome"]
X = df.drop(["Outcome",'NewBMI_Obesity 1','NewBMI_Obesity 2', 'NewBMI_Obesity 3', 'NewBMI_Overweight','NewBMI_Underweight',
                     'NewInsulinScore_Normal','NewGlucose_Low','NewGlucose_Normal', 'NewGlucose_Overweight', 'NewGlucose_Secret'], axis = 1)
cols = X.columns
index = X.index

In [81]:
X.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6    148.0           72.0  ...  33.6                     0.627   50
1            1     85.0           66.0  ...  26.6                     0.351   31
2            8    183.0           64.0  ...  23.3                     0.672   32
3            1     89.0           66.0  ...  28.1                     0.167   21
4            0    137.0           40.0  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [82]:
# The variables in the data set are an effective factor in increasing the performance of the models by standardization.  
# There are multiple standardization methods. These are methods such as" Normalize"," MinMax"," Robust" and "Scale".
from sklearn.preprocessing import RobustScaler
transformer = RobustScaler().fit(X)
X = transformer.transform(X)
X = pd.DataFrame(X, columns = cols, index = index)

In [83]:
X.head()

   Pregnancies  Glucose  ...  DiabetesPedigreeFunction       Age
0          0.6    0.775  ...                  0.669707  1.235294
1         -0.4   -0.800  ...                 -0.049511  0.117647
2          1.0    1.650  ...                  0.786971  0.176471
3         -0.4   -0.700  ...                 -0.528990 -0.470588
4         -0.6    0.500  ...                  4.998046  0.235294

[5 rows x 8 columns]

In [84]:
X = pd.concat([X,categorical_df], axis = 1)

In [85]:
X.head()

   Pregnancies  Glucose  ...  NewGlucose_Overweight  NewGlucose_Secret
0          0.6    0.775  ...                      0                  1
1         -0.4   -0.800  ...                      0                  0
2          1.0    1.650  ...                      0                  1
3         -0.4   -0.700  ...                      0                  0
4         -0.6    0.500  ...                      0                  1

[5 rows x 18 columns]

In [86]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

##5) Base Models

In [87]:
# Validation scores of all base models

models = []
models.append(('LR', LogisticRegression(random_state = 12345)))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier(random_state = 12345)))
models.append(('RF', RandomForestClassifier(random_state = 12345)))
models.append(('SVM', SVC(gamma='auto', random_state = 12345)))
models.append(('XGB', GradientBoostingClassifier(random_state = 12345)))
models.append(("LightGBM", LGBMClassifier(random_state = 12345)))

# evaluate each model in turn
results = []
names = []

In [88]:
for name, model in models:
    
        kfold = KFold(n_splits = 10, random_state = 12345)
        cv_results = cross_val_score(model, X, y, cv = 10, scoring= "accuracy")
        results.append(cv_results)
        names.append(name)
        msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
        print(msg)
        
# boxplot algorithm comparison
fig = plt.figure(figsize=(15,10))
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

LR: 0.848684 (0.036866)
KNN: 0.840789 (0.023866)
CART: 0.857895 (0.024826)
RF: 0.881579 (0.026316)
SVM: 0.853947 (0.036488)
XGB: 0.890789 (0.020427)
LightGBM: 0.885526 (0.024298)

##6) Model Tuning

In [89]:
rf_params = {"n_estimators" :[100,200,500,1000], 
             "max_features": [3,5,7], 
             "min_samples_split": [2,5,10,30],
            "max_depth": [3,5,8,None]}

In [90]:
rf_model = RandomForestClassifier(random_state = 12345)

In [92]:
gs_cv = GridSearchCV(rf_model, 
                    rf_params,
                    cv = 10,
                    n_jobs = -1,
                    verbose = 2).fit(X, y)

Fitting 10 folds for each of 192 candidates, totalling 1920 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   23.0s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done 644 tasks      | elapsed:  6.8min
[Parallel(n_jobs=-1)]: Done 1009 tasks      | elapsed: 11.1min
[Parallel(n_jobs=-1)]: Done 1454 tasks      | elapsed: 16.4min
[Parallel(n_jobs=-1)]: Done 1920 out of 1920 | elapsed: 22.0min finished

In [95]:
gs_cv.best_params_

{'max_depth': 8,
 'max_features': 7,
 'min_samples_split': 2,
 'n_estimators': 500}

###1.1) Final Model Installation

In [93]:
rf_tuned = RandomForestClassifier(**gs_cv.best_params_)

In [94]:
rf_tuned = rf_tuned.fit(X,y)

In [96]:
cross_val_score(rf_tuned, X, y, cv = 10).mean()

0.8894736842105264

In [97]:
feature_imp = pd.Series(rf_tuned.feature_importances_,
                        index=X.columns).sort_values(ascending=False)

sns.barplot(x=feature_imp, y=feature_imp.index)
plt.xlabel('Significance Score Of Variables')
plt.ylabel('Variables')
plt.title("Variable Severity Levels")
plt.show()

###2) LightGBM Tuning

In [98]:
lgbm = LGBMClassifier(random_state = 12345)

In [99]:
lgbm_params = {"learning_rate": [0.01, 0.03, 0.05, 0.1, 0.5],
              "n_estimators": [500, 1000, 1500],
              "max_depth":[3,5,8]}

In [100]:
gs_cv = GridSearchCV(lgbm, 
                     lgbm_params, 
                     cv = 10, 
                     n_jobs = -1, 
                     verbose = 2).fit(X, y)

Fitting 10 folds for each of 45 candidates, totalling 450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:    6.8s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:   46.2s
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 450 out of 450 | elapsed:  1.9min finished

In [101]:
gs_cv.best_params_

{'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 1000}

###2.1) Final Model Installation

In [102]:
lgbm_tuned = LGBMClassifier(**gs_cv.best_params_).fit(X,y)

In [103]:
cross_val_score(lgbm_tuned, X, y, cv = 10).mean()

0.8960526315789474

In [104]:
feature_imp = pd.Series(lgbm_tuned.feature_importances_,
                        index=X.columns).sort_values(ascending=False)

sns.barplot(x=feature_imp, y=feature_imp.index)
plt.xlabel('Significance Score Of Variables')
plt.ylabel('Variables')
plt.title("Variable Severity Levels")
plt.show()

###3) XGBoost Tuning

In [105]:
xgb = GradientBoostingClassifier(random_state = 12345)

In [106]:
xgb_params = {
    "learning_rate": [0.01, 0.1, 0.2, 1],
    "min_samples_split": np.linspace(0.1, 0.5, 10),
    "max_depth":[3,5,8],
    "subsample":[0.5, 0.9, 1.0],
    "n_estimators": [100,1000]}

In [ ]:
xgb_cv_model  = GridSearchCV(xgb,xgb_params, cv = 10, n_jobs = -1, verbose = 2).fit(X, y)

Fitting 10 folds for each of 720 candidates, totalling 7200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   11.8s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 644 tasks      | elapsed:  6.2min
[Parallel(n_jobs=-1)]: Done 1009 tasks      | elapsed: 11.0min
[Parallel(n_jobs=-1)]: Done 1454 tasks      | elapsed: 17.3min
[Parallel(n_jobs=-1)]: Done 1981 tasks      | elapsed: 23.5min
[Parallel(n_jobs=-1)]: Done 2588 tasks      | elapsed: 29.7min
[Parallel(n_jobs=-1)]: Done 3277 tasks      | elapsed: 37.7min

In [ ]:
xgb_cv_model.best_params_

###3.1) Final Model Installation

In [ ]:
xgb_tuned = GradientBoostingClassifier(**xgb_cv_model.best_params_).fit(X,y)

In [ ]:
cross_val_score(xgb_tuned, X, y, cv = 10).mean()

In [ ]:
feature_imp = pd.Series(xgb_tuned.feature_importances_,
                        index=X.columns).sort_values(ascending=False)

sns.barplot(x=feature_imp, y=feature_imp.index)
plt.xlabel('Significance Score Of Variables')
plt.ylabel('Variables')
plt.title("Variable Severity Levels")
plt.show()

##7) Comparison of Final Models

In [ ]:
models = []

models.append(('RF', RandomForestClassifier(random_state = 12345, max_depth = 8, max_features = 7, min_samples_split = 2, n_estimators = 500)))
models.append(('XGB', GradientBoostingClassifier(random_state = 12345, learning_rate = 0.1, max_depth = 5, min_samples_split = 0.1, n_estimators = 100, subsample = 1.0)))
models.append(("LightGBM", LGBMClassifier(random_state = 12345, learning_rate = 0.01,  max_depth = 3, n_estimators = 1000)))

# evaluate each model in turn
results = []
names = []

In [ ]:
for name, model in models:
    
        kfold = KFold(n_splits = 10, random_state = 12345)
        cv_results = cross_val_score(model, X, y, cv = 10, scoring= "accuracy")
        results.append(cv_results)
        names.append(name)
        msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
        print(msg)
        
# boxplot algorithm comparison
fig = plt.figure(figsize=(15,10))
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

##8) Reporting
The aim of this study was to create classification models for the diabetes data set and to predict whether a person is sick by establishing models and to obtain maximum validation scores in the established models. The work done is as follows:

1) Diabetes Data Set read.

2) With Exploratory Data Analysis; The data set's structural data were checked. The types of variables in the dataset were examined. Size information of the dataset was accessed. The 0 values in the data set are missing values. Primarily these 0 values were replaced with NaN values. Descriptive statistics of the data set were examined.

3) Data Preprocessing section; df for: The NaN values missing observations were filled with the median values of whether each variable was sick or not. The outliers were determined by LOF and dropped. The X variables were standardized with the rubost method..

4) During Model Building; Logistic Regression, KNN, SVM, CART, Random Forests, XGBoost, LightGBM like using machine learning models Cross Validation Score were calculated. Later Random Forests, XGBoost, LightGBM hyperparameter optimizations optimized to increase Cross Validation value.

5) Result; The model created as a result of XGBoost hyperparameter optimization became the model with the lowest Cross Validation Score value. (0.90)